.workspaces-widget {
  background-color: #171717;
  padding: 4px 8px;
  border-radius: 14px 6px 14px 6px;
}

.bar {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: 18px;
  padding: 8px;
}

.bar-widget {
  padding: 4px;
  margin: 0px 4px;
  border-radius: 9999px;
}

.power-full {
  font-size: 60px;
  color: #D35D6E;
}
.power-full:hover {
  color: #ffd5cd;
}
