window {
  background-color: transparent;
}

.bar {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: transparent;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 12px;
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

button:active {
  background-color: #ffffff;
}

label {
  font-weight: bold;
}

.island {
  border-radius: 12px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #171717;
  border-radius: 12px;
  padding: 8px;
}


.workspaces {
  background-color: #171717;
}

.workspaces button {
  min-width: 8px;
  min-height: 8px;
  border-radius: 9999px;
  border: 2px solid #ffffff;
}

.workspaces button.unfocused {
  background-color: transparent;
}

.workspaces button.focused {
  background-color: #ffffff;
}

.notification {
  color: yellow;
}

levelbar block,
highlight {
  min-height: 10px;
}

window.notification-popups box.notifications {
  padding: .5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: @theme_fg_color;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  color: #ffffff;
  padding: 1em;
  margin: .5em;
  background-color: #171717;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  font-size: 1.4em;
}

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}
