simplified_ui true
mouse_mode true
copy_command "wl-copy"                    // wayland
copy_on_select true
default_shell "fish"

keybinds clear-defaults=true {

  normal {
    bind "Ctrl p" { SwitchToMode "Pane"; }
    bind "Ctrl x" { SwitchToMode "session"; }
    bind "Ctrl s" { SwitchToMode "scroll"; }
    bind "Ctrl t" { SwitchToMode "tab"; }
  }

  locked {
    bind "Ctrl g" { SwitchToMode "Normal"; }
  }

  tab {
    bind "Esc" { SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "h" "Left" "Up" "k" { GoToPreviousTab; SwitchToMode "Normal"; }
    bind "l" "Right" "Down" "j" { GoToNextTab; SwitchToMode "Normal"; }
    bind "n" { NewTab; SwitchToMode "Normal"; }
    bind "x" { CloseTab; SwitchToMode "Normal"; }
  }

  pane {
    bind "Esc" { SwitchToMode "Normal"; }
    bind "h" "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
    bind "l" "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
    bind "j" "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
    bind "k" "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
    bind "p" { SwitchFocus; SwitchToMode "Normal"; }
    bind "n" { NewPane; SwitchToMode "Normal"; }
    bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
    bind "x" { CloseFocus; SwitchToMode "Normal"; }
    bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    bind "f" { TogglePaneFrames; SwitchToMode "Normal"; }
    bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
    bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenamePane"; SwitchToMode "Normal"; }
  }

  renametab {
		bind "Esc" { SwitchToMode "Normal"; }
		bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
	}
  
  renamepane {
    bind "Enter" {SwitchToMode "Normal"; }
    bind "Esc" { UndoRenamePane; SwitchToMode "Normal"; }
  }

  session {
    bind "Esc" {  SwitchToMode "Normal"; }
    bind "Ctrl x" { SwitchToMode "Scroll";}
    bind "d" { Detach; }
    bind "x" {
      LaunchOrFocusPlugin "zellij:session-manager" {
        floating true
        move_to_focused_tab true
      };
      SwitchToMode "Normal"
		}
  }

  scroll {
    bind "Esc" { SwitchToMode "Normal"; }
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
    bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
    bind "d" { HalfPageScrollDown; }
    bind "u" { HalfPageScrollUp; }
  }

  search {
    bind "Esc" {  SwitchToMode "Normal"; }
  }
  shared_except "normal" "locked" {
		bind "Enter" "Esc" { SwitchToMode "Normal"; }
	}
  shared_except "locked" {
		bind "Ctrl g" { SwitchToMode "Locked"; }
  }
}
